*{
  padding: 0px;
  margin: 0%;
}

.header{
  width: 100%;
  height: 70px;
  /* z-index: 1; */
  /* position: fixed; */
  background-color: darkcyan;
  display: flex;
  align-items: center;
}

.logo{
  color: whitesmoke;  
  /* flex-grow: 1; */
  padding-left: 30px;
  padding-right: 60%;
}

.articles{
  padding-right: 50px;
}

.link{
  padding: 10px;
  text-decoration: none;
  color: whitesmoke;
}
